In [1]:
import pickle

In [7]:
with open('/Users/alanmccann/Dropbox/bain/nickname_directory.pickle','rb') as f:
     df = pickle.load(f)

In [8]:
df

     nickname                                              names
0     AALIYAH  [ALEXANDRA, ALEXA, ALLYSON, ALEX, ALICIA, ALEJ...
1       AARON                             [ARON, SHARRON, AARON]
2       ABBEY       [ABBY, ABIGAIL, ABEL, ABBIE, ABRAHAM, ABBEY]
3       ABBIE       [ABBY, ABIGAIL, ABBEY, ABEL, ABRAHAM, ABBIE]
4        ABBY       [ABIGAIL, ABBEY, ABEL, ABBIE, ABRAHAM, ABBY]
...       ...                                                ...
1371   ZANDER  [ALEXANDER, ALEXANDRA, XANDER, ALEXANDRIA, ZAN...
1372     ZANE  [ALEXANDRA, XANDER, SEAN, SONNY, SUSAN, ALEXAN...
1373     ZION    [SIENNA, SONIA, SONNY, ZANE, SEAN, SONYA, ZION]
1374      ZOE                                        [ZOEY, ZOE]
1375     ZOEY                       [ZOE, ALONZO, LORENZO, ZOEY]

[1376 rows x 2 columns]

In [11]:
df.to_csv("/Users/alanmccann/Dropbox/Dynata/nicknames.csv",index=False,sep="|")